* {
    box-sizing: border-box;
}

body {
    background-color: #F7F7F7;
    padding: 15px;
    font-family: 'Inter', sans-serif;
}

.container {
    max-width: 300px;
    margin: auto;
}

.page-wrapper {
    overflow: hidden;
    max-width: 375px;
    margin: auto;
    border-radius: 20px;
    background: #F4F4F4;
    box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.25);
    
}
.header {
    color: #FFF;
    padding: 40px 42px 145px;
    border-radius: 20px 20px 90px 90px;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.20) 0%, rgba(0, 0, 0, 0.30) 100%), url('../img/header-bj.png') no-repeat center / cover;

}

.hello {
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
}

.hello-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
}

.user {
    margin-top: -79px;
    text-align: center;
    background: #FFF;
    box-shadow: 0px 4px 30px rgba(0,0,0,0.05);
    border-radius: 10px;
    padding-bottom: 21px;
}

.user-avatar {
    margin-top: -43px;
    object-fit: cover;
    border-radius: 50%;
    border: 4px solid #fffefe
}

.user-name {
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    margin-top: 8px;
    margin-bottom: 4px;
}
.user-description {
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    color: #6a6a6a;
    margin-top: 4px;
}

.container {
    margin: auto;
}

.card {
    background: #FFF;
    box-shadow: 0px 4px 30px rgba(0,0,0,0.05);
    border-radius: 10px;
    margin-top: 12px;
    margin-bottom: 12px;
    padding: 20px;
    max-width: 300px;
}

.buttons {
    display: flex;
    justify-content: space-between;
    min-width: 260px;
    margin: auto;
    gap: 10px;
    padding-bottom: 8px;
}

.button {
    background-color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    flex-shrink: 1;
    width: 100%;
    border-radius: 5px;
    color: #FFF;
    text-decoration: none;    
    font-size: 12px;
    line-height: 15px;
    gap: 10px;
}

.button.vk {
    background: #0077FF;

}
.button.tg {
    background: #0088CC;

}
.button.yt {
    background: #FF0000;
}

.button.hh {
    background: #d6001c;
}